
.search {
  padding: 5px;
  width: 100px;
}

body {
  font-family: "Ubuntu", sans-serif;
}



.App.hot {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 16, 16, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://www.treehugger.com/thmb/_lhgtC-6L7fxeumvXVjCIKRODlI=/1000x664/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2018__07__palm_trees_hot_sun-f8e20b86425b492f9d777d92db46db49.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
  height: 800px;
  color:white;
}

.App.cold {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 255, 213, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://images.dailyhive.com/20190119170818/shutterstock_231274975.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
  height: 800px;
  color:white;
}

.search-container {
  height: 100px;

  color: rgb(22, 22, 22);
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  padding: 5px;
  width: 300px;
  justify-content: center;
  margin-top: -13px;
}

.search-bar {
  color: black;
  font-size: 15px;
  display: block;
  margin-top: -20px;
  width: 30%;
  padding: 10px;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 5px rgba(58, 53, 53, 0.73);
  background: rgba(255, 255, 255, 0.52);
  transition: 0.4s ease;
}

.location-container {
  color: rgb(252, 17, 17);
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container {
  text-align: center;
}

.weather-container .temperature {
  color: rgb(14, 18, 235);
  position: relative;
  display: inline-block;

  padding: 10px 10px;
  font-size: 100px;
  font-weight: 700;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 3px 3px rgba(58, 53, 53, 0.73);
  text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container .weather {
  color: rgb(12, 11, 11);
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(204, 88, 88, 0.73);
}
.search {
  color: brown;
  width: 70px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}
.search:hover {
  color: cornflowerblue;
}
.error {
  text-align: center;
}


@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

.flex {
  display: flex;
}
.weather-icon {
  width: 200px;
  margin-left: 200px;
}
